* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.container {
    border-radius: 10px;
    overflow: hidden;
    margin: 88px 55px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (min-width: 800px) {
    .container {
        margin: 50px 20px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (min-width: 1300px) {
    .container {
        margin: 100px 90px;
    }
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.sedans, .suvs, .luxury {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
}

.description {
    line-height: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}

.more-details {
    margin-top: 30px;
}

@media (min-width: 800px) {
    .more-details {
        margin-top: 90px;
    }
}

button {
    padding: 16px 35px;
    border-radius: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 17px;
    background-color: hsl(0, 0%, 95%);
}

button:hover {
    cursor: pointer;
}

.button1 {
    border: 1px solid hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.button2 {
    border: 1px solid hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.button3 {
    border: 1px solid hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }